{% extends "lab_10/layout/base.html" %}

{% block content %}
<nav class="navbar-default navbar-fixed-top" id="navbar" style="margin-bottom:100px">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="title">Netflix</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="float:right; margin-top:10px">
            <a href="{% url 'lab-10:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">
                Logout </a>
        </ul>
      </div>
    </div>
  </nav>
<br> <br>
<div class="container">
    
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1> {{movie.title}} ({{movie.year}}) </h1>
                <p>{{movie.rated}} | {{movie.runtime}} | {{movie.genre}} | {{movie.released}}</p>
            </div>
            <div class="col-sm-offset-2 col-sm-8" >
                <div class="col-sm-6">
                    <img src="{{movie.poster}}" class="img-responsive img-thumbnail">
                    <br>
                </div>
                <div class="col-sm-6" >
                    <h2>Summary</h2>
                    <hr>
                    <p>{{movie.plot}}</p>
                    <hr>
                    <p><b>Director: </b>{{movie.director}}</p>
                    <p><b>Writer: </b>{{movie.writer}}</p>
                    <p><b>Actors: </b>{{movie.actors}}</p>
                    <hr>
    
                    <p><b>Metascore:</b> {{movie.metascore}} | <b>IMDB Rating:</b> {{movie.imdbrating}}</p>
                    <div class="box">
                        {% if added %}
                        <button class="btn btn-success disabled"> Added to Watch Later </button>
                        {% else %}
                        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
                        {% endif%}
                    </div>
                </div>
            </div>
            
            
    
        </div>
    </div>
    
{% endblock %}
