{% extends "lab_7/layout/base.html" %}
{% block content %}
<section name="mahasiswa-list" id="mahasiswa-list">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8">
                <h2> Mahasiswa Fasilkom</h2>
                {% for i in "xxxxxxxxxx" %}
                    {% widthratio forloop.counter0 1 10 as a  %}
                    {% widthratio forloop.counter 1 10 as b %}
                    {% with a|stringformat:"s" as awal %}
                    {% with b|stringformat:"s" as akhir %}
                    {% with ":"|add:b as pertama %}
                    {% with awal|add:pertama as lolo %}
                    <div class="list-group{{ forloop.counter }}">
                            {% if mahasiswa_list|slice:lolo %}
                                {% for mahasiswa in mahasiswa_list|slice:lolo %}
                                    <a class="list-group-item clearfix">
                                        {{ mahasiswa.nama }} ({{ mahasiswa.npm }})
                                        <span class="pull-right">
                                          <span class="btn btn-xs btn-default" onClick="addFriend('{{ mahasiswa.nama }}', '{{ mahasiswa.npm }}', '{{ mahasiswa.alamat_mhs }}', '{{ mahasiswa.kota_lahir }}, {{ mahasiswa.tgl_lahir }}', '{{ mahasiswa.program.0.nm_org }} ({{ mahasiswa.program.0.nm_prg }})')">
                                            Tambah sebagai teman
                                          </span>
                                        </span>
                                    </a>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-danger text-center">
                                    <strong>Opps!</strong> Tidak ada mahasiswa
                                </div>
                            {% endif %}
                    </div>
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                {% endfor %}
                <div style="text-align:center;width:100%;">
                  <div class="pagination" style="display:inline-block;"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2> Teman Saya </h2>
                <div class="list-group" id="friend-list">
                    {% if friend_list %}
                        {% for friend in friend_list %}
                            <a class="list-group-item clearfix">
                                {{ friend.friend_name }} ({{ friend.npm }})
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger text-center" id="alertin">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                    {% endif %}
                </div>
                <form id="add-friend" action="#">
                    {% csrf_token %}
                    <label for="field_npm">npm</label>
                    <input id="field_npm" type="text" name="npm" class="form-control"/>
                    <label for="field_name">name</label>
                    <input id="field_name" type="text" name="name" class="form-control"/>
                    <button type="submit">Tambah</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
  $(document).ready(function(){
    for(i=1;i<11;i++){
      if(i!=1){
        $('.list-group'+i).hide();
      }
     // $('.pagination').append('<button class="abcd" onClick=next('+i+')>'+i+'</button>');

    }
  });

  var next = function(id){
    $('.list-group'+id).fadeIn();
    for(i=1;i<11;i++){
      if(i!=id){
        $('.list-group'+i).hide();
      }
    }

  };

 var addFriend = function(nama, npm, alamat, ttl, prodi) {
     $.ajax({
         method: "POST",
         url: "{% url "lab-7:add-friend" %}",
         data: {name: nama, npm: npm, alamat: alamat, ttl: ttl, prodi: prodi},
         success : function (friend) {
             if (friend.valid){
               html = '<a class="list-group-item clearfix">' +
                 friend.teman.friend_name + ' (' +
                 friend.teman.npm
                 + ') </a>';
               $("#friend-list").append(html).show('slow');
               $("#alertin").hide();
             } else {
               alert("Mahasiswa tersebut sudah ditambahkan sebagai teman")
             }
         },
         error : function (error) {
             alert("error")
         }
     });
 };

 $("#add-friend").on("submit", function () {
    name = $("#field_name").val()
    npm = $("#field_npm").val()
    addFriend(name, npm, '', '', '')
    event.preventDefault();
 });

 $("#field_npm").change(function () {
     console.log( $(this).val() );
     npm = $(this).val();
     $.ajax({
         method: "POST",
         url: '{% url "lab-7:validate-npm" %}',
         data: {
             'npm': npm
             },
             dataType: 'json',
             success: function (data) {
                 console.log(data)
                 if (data.is_taken) {
                     alert("Mahasiswa dengan npm seperti ini sudah ada");
                 }
             }
         });
     });
 </script>
{% endblock %}
